$type: (
  sm: (
    300: 0.875rem,
    400: 1rem,
    500: 1.25rem,
    600: 1.525rem,
    700: 1.75rem,
    800: clamp(2rem, calc(1.4rem + 2.5vw), 3.05rem),
  ),
  lg: (
    300: 0.9375rem,
    400: 1.125rem,
    500: 1.45rem,
    600: 1.875rem,
    700: 2.25rem,
    800: clamp(2.2rem, calc(1.005rem + 2vw), 3.75rem),
  ),
);
